body {
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    color: #D8D6D1;
}

main {
    width: 960px;
    margin: auto;

}

h1 {
    font-size: 40px;
    text-align: center;
}

div {
    width: 850px;
    display: inline-block;
}

p {
    width: 450px;
}


img {
    width: 350px;
    height: 320px; 
}

#anthonyText, #brandonText {
    float: left;
}

#anthonyPic, #brandonPic {
    float: right;
}

#sueText, #coreyText {
    float: right;
}
#suePic, #coreyPic {
    float: left;
}
